<!DOCTYPE html>

<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Student Information Collection</title>
<link rel="stylesheet" type="text/css" href="../static/style.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">

</head>
   <body>

      <form action = "{{ url_for('drivingBehavior_summary') }}" method = "POST">
      	<h2>display the driving behavior information</h2>   
         <p style="text-align:right; margin:0 35% 0 0">Start period: </p>
         <p> Start day: 
            <input type = "date" name="startDay" id="startDay" />             
         </p>
         <p> Start time (Hour): 
            <input type = "number" name="startHour" id="startHour" /> 
         </p>
         <p style="text-align:right; margin:0 35% 0 0">End period: </p>
         <p> End day: 
            <input type = "date" name = "endDay" id="endDay" />             
         </p>
         <p> End time (Hour): 
            <input type = "number" name = "endHour" id="endHour"/> 
         </p>
         <p><input type = "submit" value = "Submit" /></p>
      </form>


   </body>
</html>
