<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Student Information Collection</title>
<link rel="stylesheet" type="text/css" href="../static/style.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
</head>
   <body>
   	  <h1>COMP4442 Group Porject</h1>
      <h2><a href = "/drivingBehavior">A summary driving behavior of each driver.</a></h2>
      <h2><a href = "/monitor">Monitor the driving speed of each driver in real time</a></h2>
      
   </body>
</html>